@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');


body{
    font-family: var(--fonte-principal);
    font-size: 18px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #F2C063, #dc9718);
}

.header h1{
    color: #fff;
    text-shadow: 2px 2px 2px #0000006c;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color: #fff;
    background-color: #00000069;
    border-radius: 5px;
    padding: 1px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    max-width: 880px; 
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.235);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
