@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');


body{
    font-family: var(--fonte-principal);
    font-size: 18px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, #C17311, #D58F27, #89571A);
}

.header h1, .header p{
    color: #fff;
    text-shadow: 2px 2px 2px #0000006c;
}


.material-symbols-outlined{
    color: #fff;
    margin: 10px 
}

.material-symbols-outlined:hover{
    cursor: pointer;
    background-color: #643b099b;
    border-radius: 50%;
    padding: 1px;
}

.menu{
    display: none;
    padding-bottom: 10px;
}

.info{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px 0px 0px 10px;
    text-shadow: 2px 2px 2px #0000006c;

}

.info:hover{
    background-color: #643b099b;
    padding: 3px;
    border-radius: 10px;
    font-weight: 700;
}

hr{
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    max-width: 880px; 
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.235);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.rodape{
    text-align: center;
    background-color: #dc9718;
    font-size: 20px;
    padding: 5px;
}

.rodape a{
    font-weight: 700;
}

.rodape:hover{
    text-decoration: underline;
}
